@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main--color: #dc3545;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%
}

section {
    padding: 1rem 5%;
    min-height: 100vh;
}

body {
    background: white;
    padding-left: 25rem;
}

header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    text-align: center;
    width: 25rem;

}

header .navbar a:hover {
    letter-spacing: 0.2rem;
    color: var(--main--color)
        /*這裡加上display initial的效果？*/

}

header .navbar a {
    display: block;
    /*自動換行*/
    font-size: 2rem;
    color: #fff;
    margin: 0.2rem;
    text-transform: capitalize;
    line-height: 5rem;

}

header .follow a {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 0.7rem;

}

header .follow a:hover:nth-child(1) {
    letter-spacing: 0.2rem;
    color: #fd5949;
    /*  https://stackoverflow.com/questions/70853065/instagram-icon-with-hover-effect */
}

header .follow a:hover:nth-child(2) {
    letter-spacing: 0.2rem;
    color: #1AAD19;
}

header .follow a:hover:nth-child(3) {
    letter-spacing: 0.2rem;
    color: #00AEEC;
}

header .follow a:hover:nth-child(4) {
    letter-spacing: 0.2rem;
    color: #7289da;
}

header img {
    width: 22em;
    padding-top: 1rem;
}


.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5 rem;
}

.home .content {
    flex: 1 1 40rem;
}

.home .content .hi {
    font-size: 2.5rem;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #111;
    text-transform: uppercase;
}

.home .content h3 span {
    text-transform: uppercase;
    color: var(--main--color)
}

.home .content .info {
    display: block;
    font-size: 2.5rem;
    color: #111;
    padding: 0.5rem 0;
    position: relative;
}



.home .content .text {
    font-size: 1.7rem;
    color: #666;
    padding: 0.5rem 0;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background-color: var(--main--color);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background-color: #111;
    letter-spacing: 0.2rem;
}

.about .heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}

.about .heading2 {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #111;
}

.about span {
    text-transform: uppercase;
    color: var(--main--color);
}



#menu-bars {
    /*id selector*/
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main--color);
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.members {
    margin-bottom: 9rem;
}

.members h1 {
    font-size: 4.5rem;
    color: #111;
    text-transform: uppercase;
}

.members span {
    text-transform: uppercase;
    color: var(--main--color)
}

.member-name {
    font-size: 16px;
}

#member-image {
    border-radius: 50%;
    max-width: 80%;
    object-fit: contain;
    padding-bottom: 0;
}

.member-role {
    color: gray;
    font-size: 13px;
    margin-top: 5px;
}


.members .member-navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members .member-navbar ul li {
    position: relative;
    list-style: none;
}


.members .member-navbar ul li a {
    position: relative;
    margin: 0 15px;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 1.8rem;
}

#memberslider .swiper-pagination {
    opacity: 1;
    background-color: (--main--color);
    width: 12px;
    height: 12px;
}


.departments {
    padding: 5rem 0 0;
}

#departmentContainer {
    text-align: center;
}


.departmentTitle {
    display: block;
    font-size: 1.75em;
    line-height: 1.2;
    writing-mode: horizontal-tb;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
}

.membersCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 0.5rem;

    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;

}

.parent-card {
    height: 250px;
    position: relative;
    width: 190px;
}

.member-card {
    background-color: #121212;
    border: thin solid gray;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 250px;
    margin: 0 auto;
    opacity: 1;
    padding: 25px;
    text-align: center;
    transition: .5s ease;
    width: 190px;
}


.contact-card {
    align-items: center;
    background-color: #000;
    border: thin solid gray;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 250px;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
    width: 190px;
}

.contact-card a {
    font-size: 3rem;
    padding: 0 1rem;
    text-decoration: none;
    color: gray;
}

.parent-card:hover .profile-card {
    opacity: 0.2;
}

.parent-card:hover .contact-card {
    opacity: 0.6;
}

.profile-card {
    display: flex;
    flex-direction: column;
}


.members .img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.members .content .info {
    font-size: 1.5rem;
    color: #111;
    padding: 0.5rem 0;
}

.gallery .heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}

.gallery .heading span {
    text-transform: uppercase;
    color: var(--main--color)
}

.gallery .galleryTitle{
    border-left: 13px solid var(--main--color);  /* Set the left border color to red */
    height: 1.5em;
    width: 33%;
    background-image: linear-gradient(90deg, #000000, #ffffff);
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px; 
    margin-left: 7rem;
    margin-bottom: 10px;
   
}

.gallery .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gallery .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.gallery .box .dream img {
    width: 100%;
    padding-bottom: 15px;
}

.events .heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}

.events .heading span {
    text-transform: uppercase;
    color: var(--main--color);
}



.contact .icon-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contact .heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}

.contact .heading span {
    text-transform: uppercase;
    color: var(--main--color)
}

.contact .icon-container .icons {
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.contact .icon-container .icons i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background-color: var(--main--color);
    color: #fff;
    border-radius: 50%;
    /* .5rem: 橢圓稜角處理 50%: 圓形 */
}

.contact .icon-container .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background-color: var(--main--color);
    color: white;
    border-radius: 50%;
    /* .5rem: 橢圓稜角處理 50%: 圓形 */
}

.contact .icon-container .icons a:hover {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: black;
}

.contact .icon-container .icons h3 {
    color: #111;
    font-size: 2rem;
    padding: .5rem 0;
}

.contact .icon-container .icons p {
    color: #666;
    font-size: 1.7rem;
    padding: .5rem 0rem;
}

.swiper-wrapper {
    align-items: center;
}




/* media queries*/

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    #menu-bars {
        display: initial;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        width: 100%;
    }

    .experience .box-container .box {
        padding-left: 0;
    }
}